{% load static %}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <h4>About Us</h4>
        <p>
          Alpha Shop is a leading e-commerce website that offers a wide range of
          products at affordable prices. Our mission is to provide our customers
          with the best shopping experience possible.
        </p>
      </div>
     
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'products' %}">Products</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
  <div class="copyright">
    <p>© 2024 Alpha Shop. All Rights Reserved.</p>
  </div>
</footer>
