<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>About Us</h4>
                <p>Alpha Shop is a leading e-commerce website that offers a wide range of products at affordable prices. Our mission is to provide our customers with the best shopping experience possible.</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>Customer Service</h4>
                <ul>
                    <li><a href="#">Help & FAQs</a></li>
                    <li><a href="#">Shipping & Delivery</a></li>
                    <li><a href="#">Returns & Refunds</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'Products' %}">Products</a></li>
                </ul>
            </nav>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h4>Connect with Us</h4>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2023 Alpha Shop. All Rights Reserved.</p>
    </div>
</footer>