{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <title>Document</title>
  </head>
  <body>
    <div class="home">
      <div class="left">
        <img
          src="https://images.freeimages.com/images/large-previews/0f8/books-and-window-1219757.jpg?fmt=webp&h=350"
          alt="image loading"
        />
      </div>
      <div class="right">
        <h1>Hello there here are features books</h1>
        <h3>Title : {{book1.title}}</h3>
        <p>Author : {{book1.author}}</p>
        <p>Price : {{book1.price}}</p>
      </div>
    </div>
  </body>
  <footer>For more info contact me on lib123@gmail.com</footer>
  <a href="{%url 'about'%}">About Us</a>
  <a href="{%url 'contact'%}">Contact Us</a>
</html>
